<!DOCTYPE html>
<html>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    function onConnect() {
      // Once connected, subscribe to the desired topic
      client.subscribe("my/topic");
      console.log("Connected");
    }

    function onMessageArrived(message) {
      // When a message arrives, update the display with its payload
      document.getElementById("mqttData").innerHTML = message.payloadString;
      console.log("Message arrived: " + message.payloadString);
    }

    // Create an MQTT client instance
    var client = new Paho.MQTT.Client('mr-connection-brdco6qtfz5.messaging.solace.cloud', port=8443);

    // Set callback handlers
    client.onConnectionLost = function (responseObject) {
      console.log("Connection lost: " + responseObject.errorMessage);
    };
    client.onMessageArrived = onMessageArrived;

    // Connect to the broker
    client.connect({ onSuccess: onConnect });
  </script>
</head>
<body>
  <h1>MQTT Data:</h1>
  <p id="mqttData">Waiting for data...</p>
</body>
</html>