
{% extends 'base.html' %}

{% block head %}
<link rel = "icon" href="icon.png" type = "image/x-icon">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">

<img src="uOttawaHacks/fullLogo.png" alt="Pandium logo">
  <h1 align="center">Ambulance Portal</h1>
{% endblock %}

{% block body %}

  <center>
    <form>
      <fieldset>
        <legend>Patient Vital Information</legend>
        <table>
          <tr>
            <td align="right"><label for="pulse">Pulse:</label></td>
            <td align="left"><input id="pulse" type="text"></td>
          </tr>
          <tr>
            <td align="right"><label for="bp_num">BP (num):</label></td>
            <td align="left"><input id="bp_num" type="text"></td>
          </tr>
          <tr>
            <td align="right"><label for="bp_den">BP (den):</label></td>
            <td align="left"><input id="bp_den" type="text"></td>
          </tr>
          <tr>
            <td align="right"><label for="o_sat">O2 Sat:</label></td>
            <td align="left"><input id="o_sat" type="text"></td>
          </tr>
          <tr>
            <td align="right"><label for="status">Status:</label></td>
            <td align="left"><input id="status" type="text"></td>
          </tr>
          <tr>
            <td align="right"><label for="diagnosis">Diagnosis:</label></td>
            <td align="left"><input id="diagnosis" type="text"></td>
          </tr>
          <tr>
            <td align="right"><label for="message">Message:</label></td>
            <td align="left"><input id="message" type="text"></td>
          </tr>
          <tr>
            <td></td>
            <td align="left">
              <input type="submit" value="Submit Vitals">
            </td>
          </tr>
        </table><br>


          <legend>Location Information</legend>
        <table>
          <tr>
            <td align="right"><label for="lat">Latitude:</label></td>
            <td align="left"><input type="text" id="lat"></td>
          </tr>
          <tr>
            <td align="right"><label for="long">Longitude:</label></td>
            <td align="left"><input type="text" id="long"></td>
          </tr>
          <tr>
            <td></td>

            <td align="left">
              <input type="submit" value="Submit GPS">
            </td>
          </tr>

        </table>

{% endblock %}

